/* common */

:root {
  /* --main_color: #58c6de;
  --sub_color: #ff6e76;
  --sub_button_color: #3ab9d4;
  --main_title_color: #5ac1d0;
  --sub_title_color: #dc5c63;
  --hl_title_back: #99ebf7;
  --notice_txt_color:  #d2404d; */
  --base_color: #4db4cb;
  --base_light_color: #4fbcd5;
  --base_dark_color: #429baf;
  --main_button_light_color: #f78d93;
  --main_button_color: #ff6f76;
  --main_button_shadow_color: #cc595f;
  --main_button_background_color: #ffeffc;
  --gray_button_color: #ccc;
  --gray_button_shadow_color: #aaa;
  --site_mail_color: #c5e2ff;
  --site_mail_background_color: #edf5ff;
  --link_color: #065FD4;
  --caution_color: #FF3333;
  --footer_bg_color: #f3e8d9;
  --footer_text_color: rgba(128, 106, 74, .75);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f7f7f7;
  color: #333;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.link_color {
  color: var(--link_color);
  cursor: pointer;
}

.link_space {
  margin: 0 4px;
}

.caution_color {
  color: var(--caution_color);
}

.small_font {
  font-size: 14px;
}

/* 補足文字 */

.sub_font {
  font-size: 14px;
  color: var(--gray_button_shadow_color);
}

/* 余白 */

.space {
  margin-top: 8px;
}

.container {
  /* outline: 1px solid red; */
  width: calc(100% - 24px);
  max-width: 550px;
  margin: 24px auto;
}

/* 各種パーツ 中央表示 */

.text_center,
.btn_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

/* 各種パーツ section */

.base_section_style {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.base_section_style h2 {
  margin-bottom: 12px;
  padding-bottom: 4px;
  font-size: 18px;
  border-bottom: 1px dashed #ccc;
}

.base_section_style + .base_section_style {
  margin-top: 16px;
}

/* 各種パーツ main_btn */

.main_btn {
  all: unset;
  margin-top: 12px;
  width: 40%;
  padding: 8px 0;
  background-color: var(--main_button_color);
  border-radius: 4px;
  box-shadow: 0 2px 0 var(--main_button_shadow_color);
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: opacity .3s;
}

.main_btn:hover {
  opacity: .8;
}

.main_btn.wide {
  width: 100%;
}

/* 各種パーツ gray_btn */

.gray_btn {
  all: unset;
  margin-top: 12px;
  width: 40%;
  padding: 8px 0;
  background-color: var(--gray_button_color);
  border-radius: 4px;
  box-shadow: 0 2px 0 var(--gray_button_shadow_color);
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: opacity .3s;
}

.gray_btn:hover {
  opacity: .8;
}

/* 各種パーツ green_btn */

.green_btn {
  all: unset;
  margin-top: 12px;
  width: 40%;
  padding: 8px 0;
  background-color: var(--base_color);
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: opacity .3s;
}

.green_btn:hover {
  opacity: .8;
}


/* 各種パーツ タブメニュー tabs */

/* .tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 18px;
}

.tabs li {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding: 8px 0;
  background-color: skyblue;
  text-align: center;
}

.tabs_left,
.tabs_right {
  background-color: red;
}

.tabs_left.active,
.tabs_right.active {
  border-bottom: 2px solid var(--base_color);
} */


.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.tabs li {
  width: 100%;
}

.tabs_left,
.tabs_right {
  display: block;
  width: 99%;
  padding: 8px 0;
  background-color: #ccc;
  font-size: 14px;
  color: #666;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.tabs_left:not(.active):hover,
.tabs_right:not(.active):hover {
  opacity: .7;
}

.tabs_left.active::before,
.tabs_right.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 10px solid var(--base_color);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  transform: translate(-50%, 100%);
}

.tabs_left.active,
.tabs_right.active {
  background-color: var(--base_color);
  color: #fff;
}

/* 各種パーツ select_btn */

.select {
  all: unset;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  position: relative;
}

.select select {
  all: unset;
  box-sizing: border-box;
  padding: .6em 1.8em .6em .6em;
  color: #5a5a5a;
  width: 100%;
  cursor: pointer;
}

.select::after {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  top: 30%;
  right: 12px;
  border-bottom: #aaa 2px solid;
  border-right: #aaa 2px solid;
  transform: rotate(45deg) translateY(-30%);
}

/* 各種パーツ base_list_style */

.base_list_style li {
  padding: 12px 24px;
  background-color: #fff;
  border: 1px solid var(--base_dark_color);
  border-radius: 8px;
  color: #666;
  cursor: pointer;
  transition: background-color .3s;
}

.base_list_style li:hover {
  background-color: #eee;
}

.base_list_style li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.base_list_style li i {
  position: absolute;
  right: -20px;
  top: 50%;
  font-size: 16px;
  color: var(--base_dark_color);
  transform: translateY(-50%);
}

.base_list_style li + li {
  margin-top: 12px;
}

/* 各種パーツ mail_list_style */

.mail_list_style li {
  padding: 12px 24px;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  transition: background-color .3s;
}

.mail_list_style li:not(:first-of-type):hover {
  background-color: #eee;
}

.mail_list_style li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail_list_style li + li {
  border-top: 1px solid #ccc;
}

.mail_list_style li a span:nth-of-type(1) {
  width: 20%;
}

.mail_list_style li a span:nth-of-type(2) {
  width: 45%;
}

.mail_list_style li a span:nth-of-type(3) {
  width: 15%;
}

.mail_list_style li a span:nth-of-type(4) {
  width: 10%;
}

.mail_list_style li a span.no_member {
  width: 100%;
  color: var(--caution_color);
  text-align: center;
}

.mail_list_style li:first-child {
  background-color: #ddd;
  border-radius: 8px 8px 0 0;
}

.mail_list_style li:last-child {
  border-radius: 0 0 8px 8px;
}

.mail_list_style li:first-child a {
  cursor: unset;
}

.mail_list_style li:first-child:hover {
  cursor: unset;
}

/* 各種パーツ search_form */

.search_form * {
  box-sizing: border-box;
}

.search_form {
  width: 100%;
}

.search_form tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_form tr + tr {
  margin-top: 12px;
}

.search_form th {
  font-size: 14px;
  font-weight: normal;
}

.search_form .table_select {
  display: inline-block;
  position: relative;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
}

.search_form .table_select.noneselect {
  border: none;
}

.search_form .table_select select {
  all: unset;
  padding: .4em 1.8em .4em .4em;
}

.search_form .table_select::after{
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  top: 30%;
  right: 9%;
  border-bottom: #aaa 2px solid;
  border-right: #aaa 2px solid;
  transform: rotate(45deg) translateY(-30%);
}

.search_form .table_select.noneselect::after {
  display: none;
}

/* 仮登録 */

.pre_registration li {
  box-sizing: border-box;
  background-color: var(--gray_button_color);
  border: 2px solid #999;
  border-radius: 32px;
  width: 100%;
  min-width: 200px;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
}

.pre_registration li + li {
  margin-top: 8px;
}

.pre_registration li.selected {
  color: #fff;
  border: 2px solid var(--base_color);
  background-color: var(--base_color);
}

.pre_registration li i {
  margin-right: 8px;
}

.pre_registration select {
  width: 80px;
  padding: 8px 12px;
}

/* 各種パーツ プロフィール　フォーム　profile_form */

.profile_form * {
  box-sizing: border-box;
}

.profile h2 {
  padding: 12px;
  background-color: var(--base_color);
  border-radius: 8px 8px 0 0;
  color: #fff;
  display: flex;
}

.profile h2 span {
  margin-left: auto;
}

.profile img {
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.profile .profile_btns {
  display: flex;
  gap: 8px;
  margin: 8px 0;
  color: #fff;
  text-align: center;
}

.profile .profile_btns div {
  width: 30%;
  padding: 6px 0;
  background-color: var(--base_color);
  border-radius: 4px;
  cursor: pointer;
}

.profile .profile_btns div:hover {
  opacity: .7;
}

.profile_form {
  width: 100%;
}

.profile_form tr {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid var(--base_color);
}

.profile_form th {
  min-width: 40%;
  text-align: left;
  color: #999;
  font-size: 14px;
  font-weight: normal;
}

.profile_comment {
  margin-top: 8px;
  padding: 0.8em;
  background: #fff5c8;
}

.profile .main_button {
  all: unset;
  margin-top: 12px;
  width: 100%;
  padding: 12px 0;
  background-color: var(--main_button_color);
  box-shadow: 0 2px 0 var(--main_button_shadow_color);
  border-radius: 24px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: opacity .3s;
}

.profile .main_button:hover {
  opacity: .8;
}

.profile .main_button.send {
  border: 1px solid var(--main_button_color);
  background-color: inherit;
  box-shadow: none;
  color: var(--main_button_color);
  font-weight: normal;
}

.profile .main_button.gray {
  background-color: var(--gray_button_color);
  box-shadow: 0 2px 0 var(--gray_button_shadow_color);
}

.profile .sub_buttons {
  display: flex;
  gap: 4px;
}

.profile .sub_buttons button {
  all: unset;
  margin-top: 12px;
  width: calc(100% / 3);
  padding: 10px 0;
  border: 1px solid var(--base_color);
  border-radius: 24px;
  color: var(--base_color);
  text-align: center;
  cursor: pointer;
  transition: opacity .3s;
}

.profile .sub_buttons button:hover {
  opacity: .8;
}

.profile .sub_buttons button.clicked {
  color: #fff;
  border-color: var(--base_light_color);
  background-color: var(--base_light_color);
}

/* 各種パーツ primary_box */

.primary_box {
  text-align: center;
  margin: 8px 0;
  padding: 12px 8px;
  background-color: var(--main_button_background_color);
  border-radius: 8px;
}

.primary_box p {
  font-weight: bold;
}

.primary_box p.caution_color {
  color: var(--caution_color);
}

.primary_box p.comment {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}

.primary_box .phone_number {
  font-size: 24px;
  color: var(--main_button_color);
  text-decoration: underline;
  cursor: pointer;
}

.primary_box p + p {
  margin-top: 8px;
}

.primary_box .main_button.no_margin {
  margin-top: 0;
}

/* 各種パーツ dialog_confirm */

#dialog_confirm {
  /* display: none; */
  max-width: 460px;
  width: 60%;
  padding: 1.5em;
  border-radius: 16px;
  line-height: 1.4;
  background-color: #fcfcfc;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
}

.dialog_confirm_box h1 {
  padding-bottom: 4px;
  font-size: 20px;
  border-bottom: 1px dashed #333;
  margin-bottom: 12px;
}

.dialog_confirm_box h1 + p {
  font-weight: normal;
}

.dialog_confirm_box p {
  font-weight: bold;
}

.dialog_confirm_box li {
  color: #666;
  cursor: pointer;
  text-align: center;
}

.dialog_confirm_box li:hover {
  opacity: 0.7;
}

.dialog_confirm_box li+li {
  margin-top: 12px;
}

.dialog_confirm_box span {
  margin: 0 2px;
  padding: 4px;
  background-color: var(--base_light_color);
  color: #fff;
}

.dialog_confirm_box button {
  all: unset;
  box-sizing: border-box;
  display: block;
  margin-top: 24px;
  padding: 10px;
  width: 100%;
  background-color: var(--base_light_color);
  border-radius: 16px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.dialog_confirm_box button:hover {
  cursor: pointer;
}

.dialog_confirm_box button.cancel {
  background: #eee;
  color: #aaa;
}

.dialog_confirm_box button.close {
  background: #ddd;
  color: #999;
}

.dialog_confirm_box button + button {
  margin-top: 8px;
}

.dialog_confirm_box li {
  padding: 8px;
  border: 1px solid var(--gray_button_shadow_color);
  border-radius: 8px;
}

/* クエスチョン */

.bi-exclamation-circle-fill {
  color: var(--base_color);
  margin-right: 8px;
}

/* 各種パーツ message_box */

.message_box {
  margin: 12px 0;
}

.message_box h1 {
  color: var(--main_button_color);
  font-size: 16px;
}

.message_box p {
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #666;
}

.message_box p + h1 {
  margin-top: 8px;
}

/* 各種パーツ receive_message */

.receive_message h1,
.send_message h1 {
  margin-top: 12px;
  padding: 4px;
  font-size: 14px;
  font-weight: normal;
}

.receive_message p {
  padding: 8px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #666;
}

.send_message p {
  padding: 8px;
  background-color: var(--main_button_background_color);
  border-radius: 8px;
}

/* 各種パーツ tel_contact */

.tel_contact {
  margin-top: 36px;
  padding: 12px 24px;
  border: 1px solid #666;
  color: #666;
}

.tel_contact h3 {
  text-align: center;
  font-weight: normal;
}

.tel_contact .phone_number {
  font-size: 24px;
  color: #666;
}

/* header */

.header_name {
  padding: 8px 12px;
  background-color: var(--base_color);
  display: flex;
  align-items: center;
  color: #fff;
}

.header_name h1 {
  font-size: 1.1em;
}

.header_name span {
  margin-left: auto;
}

/* header nav */

.top_menu {
  background-color: #fff;
}

.top_menu ul {
  display: flex;
}

.top_menu li {
  width: calc((100%) / 6);
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.top_menu li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  height: 60px;
  color: #666;
  cursor: pointer;
}

.top_menu li + li {
  border-left: 1px solid #ccc;
}

.top_menu li:hover {
  background-color: #eee;
}

.top_menu li i {
  font-size: 20px;
}

.top_menu li span {
  font-size: 14px;
}

/* 通知マーク */

.top_menu .notice {
  position: relative;
}

.top_menu .notice div {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--caution_color);
  /* background-color: var(--main_button_color); */
}

/* mask */

#mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1;
}

#mask.show {
  display: block;
}

/* popup_mask */

#popup_mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2;
}

/* overlay_menu */

.overlay_menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  background-color: var(--base_color);
  color: #fff;
  transition: all .6s;
  z-index: 2;
}

.overlay_menu.show {
  right: 0;
}

.overlay_menu h1 {
  padding: 12px 24px;
  background-color: var(--base_dark_color);
  font-size: 18px;
}

.overlay_menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform .6s;
}

.overlay_menu.show li {
  transform: none;
}

.overlay_menu li a {
  display: block;
  padding: 12px 24px;
  color: #fff;
}

.overlay_menu ul li:nth-child(1) {
  transition-delay: .05s;
}

.overlay_menu ul li:nth-child(2) {
  transition-delay: .10s;
}

.overlay_menu ul li:nth-child(3) {
  transition-delay: .15s;
}

.overlay_menu ul li:nth-child(4) {
  transition-delay: .20s;
}

.overlay_menu ul li:nth-child(5) {
  transition-delay: .25s;
}

.overlay_menu ul li:nth-child(6) {
  transition-delay: .30s;
}

.overlay_menu ul li:nth-child(7) {
  transition-delay: .35s;
}

.overlay_menu ul li:nth-child(8) {
  transition-delay: .40s;
}

.overlay_menu ul li:nth-child(9) {
  transition-delay: .45s;
}

.overlay_menu ul li:nth-child(10) {
  transition-delay: .50s;
}

/* footer */

footer {
  background-color: var(--footer_bg_color);
}

footer nav li a {
  padding: .5em 5%;
  background-color: var(--footer_bg_color);
  color: var(--footer_text_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

footer nav li i {
  font-weight: bold;
}

footer .tel {
  width: 85%;
  margin: 1.25em auto;
  padding: .65em 0.4em;
  background-color: #fff;
  border: 1px solid var(--footer_text_color);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  text-align: center;
  opacity: .65;
}

footer img {
  display: block;
  margin: 0 auto;
}

footer small {
  display: block;
  padding: 24px 0;
  font-size: 12px;
  color: var(--footer_text_color);
  text-align: center;
}

/* システム・料金案内ページ */

.system table {
  width: 100%;
  /* background-color: #26adcb; */
  border-collapse: collapse;
  border-radius: 8px;
}

.system th {
  padding: 6px;
  color: #fff;
  background-color: #6bc5d9;
  border-radius: 8px 8px 0 0;
}

.system tr:nth-child(odd) {
  background-color: #f3fbfd;
}

.system tr:nth-child(even) {
  background-color: #d5f4fc;
}

.system td {
  padding: 6px 8px;
}

.system td:nth-child(2) {
  text-align: right;
  width: 25%;
}

.system .point_table td:nth-child(2) {
  text-align: left;
}

.system tr {
  background-color: var(--main_button_background_color);
}

.system table + table {
  margin-top: 24px;
}

.system li {
  padding: 25px 8px;
  border: 1px solid #aaa;
  border-radius: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.system li:not(:last-child):before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #aaa;
}

.system li:nth-child(even) {
  flex-direction: row-reverse;
}

.system li + li {
  margin-top: 25px;
}

.system li span {
  width: 70%;
}

.system .table_color_red th {
  background-color: #d96d6b;
}

.system .table_color_red tr:nth-child(odd) {
  background-color: #fdf3f3;
}

.system .table_color_red tr:nth-child(even) {
  background-color: #fcd7d5;
}

/* entrance (登録ページ) */

.entrance h1 {
  padding-bottom: 16px;
  font-size: 22px;
  text-align: center;
  font-weight: normal;
}

.entrance h2 {
  margin-top: 16px;
  border-top: 1px solid #aaa;
  padding: 24px 0 8px;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}

.entrance p {
  padding: 4px 0;
  font-size: 12px;
  color: #aaa;
}

.entrance li {
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.entrance li:hover {
  opacity: 0.7;
}

.entrance li a {
  display: block;
  padding: 12px 0;
}

.entrance li i {
  position: absolute;
  left: 24px;
  font-size: 20px;
}

.entrance li + li {
  margin-top: 12px;
}

.entrance li.e-mail {
  background-color: var(--main_button_color);
  color: #fff;
}

.entrance li.phone {
  background-color: var(--base_color);
  color: #fff;
}

.entrance li.line {
  background-color: #00c300;
  color: #fff;
}

.entrance li.facebook {
  background-color: #1877f2;
  color: #fff;
}

.entrance li.x {
  background-color: #333333;
  color: #fff;
}

.entrance li.login {
  background-color: transparent;
  border: 1px solid var(--main_button_color);
  color: var(--main_button_color);
}

.entrance li.login:hover {
  background-color: rgba(255, 111, 118, .3);
}

/* pre_entrance_finish (仮登録完了ページ) */
/* communicate (メールアドレスを変更するページ) */
/* setting (年齢制限設定ページ) */
/* payment (ポイント購入ページ) */
/* .autointro (お相手自動紹介ページ) */

.pre_entrance_finish .email,
.communicate .email,
.setting .alert,
.payment .alert,
.autointro .alert {
  margin: 4px auto;
  padding: 12px;
  background-color: #ddd;
  font-weight: bold;
  font-size: 16px;
}

.pre_entrance_finish .email {
  font-size: 20px;
}

.setting .alert,
.payment .alert {
  color: #fff;
  background-color: var(--base_light_color);
}

.pre_entrance_finish .tel_contact ol {
  margin: 12px 0;
  padding: 0;
}

.pre_entrance_finish .tel_contact ol li {
  list-style-type: order;
  font-size: 14px;
}

/* entrance_email (メールアドレスで登録ページ) */

.entrance_email p {
  font-size: 14px;
  color: #666;
}

.entrance_email .main_btn {
  margin-bottom: 16px;
  border-radius: 24px;
  min-width: 50%;
  padding: 8px 0;
}

.entrance_email .domain {
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.entrance_email .e-mail {
  box-sizing: border-box;
  padding: 12px 12px;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
}


/* entrance_phone (電話番号で登録) */

.entrance_phone input[type="text"] {
  box-sizing: border-box;
  border: 2px solid var(--gray_button_shadow_color);
  width: 40px;
  height: 50px;
  padding: 8px;
  border-radius: 8px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.entrance_phone .tel_code {
  margin: 24px 0;
}

.entrance_phone li {
  font-size: 14px;
}

.entrance_email input + p {
  margin-top: 12px;
}

/* login_email (メールアドレスでログイン) */

.login_email .e-mail {
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.login_email h1 {
  padding-bottom: 16px;
  font-size: 22px;
  text-align: center;
  font-weight: normal;
}

.login_email .container input {
  margin-bottom: 12px;
}

.login_email .text_right {
  margin-top: 12px;
  color: #0073cc;
}

.login_email .bi-chevron-right {
  margin-left: 6px;
}

/* ID・パスワード忘れた方 */

.login_email p {
  font-size: 14px;
  color: #666;
}

/* 検索ページでのメインボタン */

.autointro .main_btn {
  margin-top: 18px;
}

/* search (検索ページ) */

.search li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #666;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s;
}

.search li:hover {
  background-color: #eee;
}

.search li a {
  display: block;
  padding: 12px 0;
}

.search i {
  font-size: 18px;
  margin-left: 4px;
}

.search li + li {
  margin-top: 12px;
}

/* その他の検索結果 */

.search_etc .green_btn {
  width: 80%;
  padding: 12px 0;
}

.search_etc .btn_center + .btn_center {
  margin-top: 12px;
}



/* 
.green_btn {
  all: unset;
  margin-top: 12px;
  width: 40%;
  padding: 8px 0;
  background-color: var(--base_color);
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: opacity .3s;
}

.green_btn:hover {
  opacity: .8;
} */

/* いいね favorite*/

.edit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
  color: var(--main_button_color);
  cursor: pointer;
}

/* search-result (検索結果ページ) */

/* mail (メッセージページ) */

h3.mail_title {
  color: #aaa;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 8px;
}

p.question {
  margin-bottom: 2px;
  font-size: 14px;
  text-decoration: underline;
  text-align: right;
}

p.question i {
  margin-left: 2px;
}

.mail .container div + div {
  margin-top: 16px;
}

h3.mail_title_detail {
  padding: 4px 0;
  border-radius: 8px;
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
}

/* diary (日記結果ページ) */

.diary article {
  display: flex;
  gap: 12px;
  padding: 16px;
  background-color: #fff;
}

.diary article > img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.diary article h1 {
  font-size: 18px;
  margin-bottom: 8px;
}

.diary article time {
  margin-left: 12px;
  font-size: 16px;
  color: #aaa;
  font-weight: normal;
}

.diary article ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
}

.diary article li {
  padding: 4px 12px;
  border: 1px solid #aaa;
  border-radius: 16px;
  cursor: pointer;
}

.diary article li:hover {
  background-color: #999;
  color: #fff;
}

.diary article li + li {
  margin-left: 8px;
}

.diary_img {
  width: 100%;
  border-radius: 16px;
}

.diary article i {
  margin-right: 4px;
  font-size: 16px;
}

.diary article + article {
  border-top: 1px solid #ccc;
}

.diary li.clicked {
  color: #fff;
  border-color: var(--main_button_color);
  background-color: var(--main_button_color);
}

/* payment (ポイント購入・履歴ページ) */

.payment .remaining_point {
  font-size: 18px;
  font-weight: bold;
}

.payment section .pic {
  padding: 16px 0;
  text-align: center;
}

.payment section p {
  font-size: 14px;
  padding: 8px 0;
}

.payment .select {
  max-width: 300px;
  margin: 12px auto 0;
}

.payment .text {
  text-align: center;
}

.payment input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  padding: 10px 15px;
  border: 1px solid #5a5a5a;
  border-radius: 4px;
  position: relative;
}

.payment input[type="text"]:focus {
  box-shadow: 0 0 4px 0 var(--footer_text_color);
  border: 1px solid #fff;
  outline: 0;
}

.payment .point {
  display: none;
}

.payment .point.active {
  display: block;
}

.point_history {
  width: 100%;
  /* border-collapse: collapse; */
  margin-top: 12px;
  background-color: #fff;
}

.point_history thead th {
  border-radius: 4px;
  font-weight: normal;
}

.point_history th {
  border: 1px solid #aaa;
  background: #ccc;
  color: #fff;
}

.point_history td {
  padding: 8px;
}

.point_history tbody tr td:nth-child(3) {
  text-align: center;
}

/* クレジット決済ページ */

.payment_credit dl {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.payment_credit dt {
  text-align: right;
  width: 25%;
  /* padding-top: 8px; */
  font-size: 13px;
}

.payment_credit dd {
  width: 75%;
}

.payment_credit input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #5a5a5a;
  border-radius: 4px;
}

.payment_credit input[type="text"]:focus {
  box-shadow: 0 0 4px 0 var(--footer_text_color);
  border: 1px solid #fff;
  outline: 0;
}

.payment_credit select {
  width: 80px;
  padding: 8px 12px;
}

.payment_credit .goodthru {
  display: flex;
  gap: 8px;
}

.payment_credit .add {
  font-size: 10px;
  color: var(--gray_button_shadow_color);
}

.payment_credit input[type="text"].code {
  width: 100px;
}

.payment_credit .space {
  margin-top: 32px;
}

/* sitemail (サイトメールページ) */

.sitemail {
  background-color: var(--site_mail_background_color);
}

.sitemail h1 {
  position: fixed;
  width: 100%;
  padding: 8px 12px;
  background-color: var(--footer_bg_color);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  color: #302825;
  font-size: 16px;
  font-weight: normal;
  z-index: 1;
}

.sitemail h1 i {
  margin-right: 4px;
}

.sitemail ul {
  padding: 56px 12px;
}

.sitemail li {
  display: flex;
  gap: 10px;
}

.sitemail li + li {
  margin-top: 10px;
}

.sitemail li.box_right {
  flex-direction: row-reverse;
}

.sitemail li.box_left p {
  position: relative;
  width: 60%;
  margin-bottom: 24px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.sitemail li.box_right p {
  position: relative;
  width: 60%;
  margin-bottom: 24px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--site_mail_color);
  color: #302825;
}

.sitemail li.box_left p::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -10px;
  top: 1em;
  border-right: 10px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.sitemail li.box_right p::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -10px;
  top: 1em;
  border-left: 10px solid var(--site_mail_color);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.sitemail .sitemail_image {
  width: 100%;
  border-radius: 8px;
  vertical-align: bottom;
}

.sitemail li p.no_padding {
  padding: 0;
}

.sitemail .profile_img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.sitemail .box_left p span.sitemailBox_read {
  display: block;
  margin-top: 7px;
  font-size: .8em;
  position: absolute;
  right: -35px;
  bottom: 18px;
}

.sitemail .box_right p span.sitemailBox_read {
  display: block;
  margin-top: 7px;
  font-size: .8em;
  position: absolute;
  left: -35px;
  bottom: 18px;
}

.sitemail .box_left p span.sitemailBox_info {
  display: block;
  margin-top: 7px;
  font-size: .8em;
  position: absolute;
  right: -70px;
  bottom: 4px;
}

.sitemail .box_right p span.sitemailBox_info {
  display: block;
  margin-top: 7px;
  font-size: .8em;
  position: absolute;
  left: -70px;
  bottom: 4px;
}

.sitemail .box_left p.finish {
  background: var(--main_button_background_color);
}

.sitemail li.box_left p.finish::before {
  border-right: 10px solid var(--main_button_background_color);
}

.sitemail .caution {
  position: relative;
  width: 60%;
  padding: 8px;
  margin: 16px auto;
  border: 2px solid var(--caution_color);;
  background: var(--main_button_background_color);
  border-radius: 8px;
  color: var(--caution_color);;
}

.sitemail .caution .comment {
  color: #666;
  font-size: 14px;
  font-weight: normal;
}

.sitemail .caution span.sitemailBox_info {
  display: block;
  margin-top: 7px;
  font-size: .8em;
  position: absolute;
  right: -70px;
  bottom: 4px;
}

.sitemail .caution button {
  all: unset;
  margin-top: 4px;
  padding: 4px 0;
  width: 40%;
  background-color: var(--main_button_color);
  color: #fff;
  border: 1px solid var(--main_button_color);
  border-radius: 24px;
  cursor: pointer;
}

.sitemail .caution button:hover {
  opacity: .8;
}

.sitemail form {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
  background-color: var(--footer_bg_color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sitemail input {
  width: 70%;
  height: 32px;
  padding: 4px;
  border: 1px solid #99857d;
  border-radius: 8px;
}

.sitemail .send {
  padding: 10px 18px;
  border: 1px solid #99857d;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

/* communicate お問合せ　メッセージ送信フォーム */

.communicate form {
  width: 100%;
}

.communicate .select {
  margin-top: 8px;
}

.communicate textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 8px;
}

/* menu-profile_edit (プロフィール変更ページ) */

.profile_edit dl {
  margin: 0;
  height: 3.5em;
  display: flex;
  align-items: center;
}

.profile_edit dt {
  width: 35%;
  padding-left: 4px;
  font-size: 14px;
  font-weight: bold;
}

.profile_edit dd {
  width: 65%;
}

.profile_edit dd label+label{
  margin-left: 24px;
}

.profile_edit dd > input {
  width: 95%;
  padding: 12px 8px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
}

.profile_edit dd select {
  background-color: #eee;
}

.profile_edit dl.textarea {
  display: block;
}

/* menu-profile_age (年齢認証ページ) */

button.file {
  width: 100%;
  margin-top: 8px;
  padding: 16px 12px;
  background: #fff;
  border: 1px solid var(--main_button_color);
  border-radius: 8px;
  color: var(--main_button_color);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.file:hover {
  background: #ffe1e2;
}

/* setting_age_limit 年齢制限設定フォーム*/

.setting .search_form {
  padding: 12px 30px 8px;
}

.setting .search_form td{
  margin: 0 auto;
}

/* settting_mail_notification メール通知設定フォーム */

.setting .checkbox {
  margin: 25px auto;
}

.setting .checkbox li+li {
  margin-top: 8px;
}
